<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/auth.css" />
    <link rel="stylesheet" href="/stylesheets/global.css" />
    <title>Sign In</title>
  </head>
  <body>
    <div class="auth-wrapper">
      <h1 class="auth-heading">Sign in</h1>

      <form action="/auth/sign-in" method="POST" class="auth-form">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required />

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required />

        <button type="submit">Sign in</button>
      </form>

      <div class="signup-link-wrapper">
        <p>Don’t have an account?</p>
        <a href="/auth/sign-up" class="btn secondary-btn">Create one</a>
        <p style="margin-top: 1rem">Just browsing?</p>
        <a href="/" class="btn">Back to Home</a>
      </div>
    </div>
  </body>
</html>
